profile/data/
profile/state/
profile/cache/
sample-conflict/
work/
gifs/
videos/
*.gif
*.mp4
*.png
profile/config/chezmoi/
profile/config/github-copilot/
profile/config/fish/
tapes-light/
tapes-before/
